h1 {
  display: block;
  text-align: center;
  margin: 15px 0;
}

.box {
  float: left;
  clear: both;
}

.box li {
  float: left;
  clear: right;
  height: 100px;
  width: 100px;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  line-height: 100px;
  text-transform: inherit;
  color: white;
}
p {
  clear: left;
  color: white;
  background-color: pink;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.black {
  background-color: black;
}
