body {
  background-color: burlywood;
}

.menu {
  list-style: none;
  overflow: hidden;
}
.menu li {
  width: 100px;
  float: left;
}

.menu a {
  display: block;
  height: 30px;
  font-size: 20px;
  font-style: italic;
  text-transform: inherit;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  color: rgb(59, 19, 235);
  margin: 10px;
}

.menu a:hover {
  color: black;
}
