* {
  box-sizing: border-box;
}
.content {
  width: 100%;
}
h4 {
  text-align: center;
}

.menu {
  width: 400px;
  height: 300px;
  padding: 15px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.form-top::after {
  content: "";
  float: left;
  clear: both;
  margin: 10px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.name {
  width: calc(50% - 10px);
}
.email {
  float: right;
  width: calc(50% - 10px);
}

.subject {
  width: 100%;
  margin-bottom: 1rem;
}

.message {
  width: 100%;
  margin-bottom: 1rem;
}
button {
  float: right;
}
